## I. Import Library

In [187]:
# Import library

import pandas as pd
import numpy as np
import pickle
import json

## II. Load Model

In [188]:
# Load all files

with open('list_cat_cols.txt', 'r') as file_1:
  list_cat_cols = json.load(file_1)

with open('list_num_cols.txt', 'r') as file_2:
  list_num_cols = json.load(file_2)

with open('model_scaler.pkl', 'rb') as file_3:
  scaler = pickle.load(file_3)

with open('model_encoder_ohe.pkl', 'rb') as file_4:
  encoder = pickle.load(file_4)

with open('model_log_reg.pkl', 'rb') as file_5:
  model_log_reg = pickle.load(file_5)
  
with open('model_svc.pkl', 'rb') as file_6:
  model_svc = pickle.load(file_6)

## III. Inferencing

In [189]:
#Create new data

data_inf = pd.DataFrame({
    'age'                   : [40, 20, 37],
    'workclass'             : [' Federal-gov', ' Private', ' Never-worked'],
    'education_num'         : [14, 15, 10],
    'marital_status'        : [' Divorced', ' Married-spouse-absent', ' Never-married'],
    'relationship'          : [' Husband', ' Unmarried', ' Other-relative'],
    'race'                  : [' Amer-Indian-Eskimo', ' Black', ' Asian-Pac-Islander'],
    'sex'                   : [' Male', ' Female', ' Female'],
    'capital_gain'          : [0, 1000, 3517500],
    'capital_loss'          : [100, 2500, 1500],
    'hours_per_week'        : [40, 12, 27]
})

#data_inf = pd.DataFrame([data_inf])
data_inf

,age,workclass,education_num,marital_status,relationship,race,sex,capital_gain,capital_loss,hours_per_week
0,40,Federal-gov,14,Divorced,Husband,Amer-Indian-Eskimo,Male,0,100,40
1,20,Private,15,Married-spouse-absent,Unmarried,Black,Female,1000,2500,12
2,37,Never-worked,10,Never-married,Other-relative,Asian-Pac-Islander,Female,3517500,1500,27

In [190]:
# Split between numerical columns and categorical columns

data_inf_num = data_inf[list_num_cols]
data_inf_cat = data_inf[list_cat_cols]
data_inf_cat

,workclass,marital_status,relationship,race,sex
0,Federal-gov,Divorced,Husband,Amer-Indian-Eskimo,Male
1,Private,Married-spouse-absent,Unmarried,Black,Female
2,Never-worked,Never-married,Other-relative,Asian-Pac-Islander,Female

In [191]:
# Feature scaling and feature encoding

data_inf_num_scaled  = scaler.transform(data_inf_num)
data_inf_cat_encoded = encoder.transform(data_inf_cat)

data_inf_final = np.concatenate([data_inf_num_scaled, data_inf_cat_encoded], axis = 1)

In [200]:
# Predict using Logistic Regression

y_pred_inf_lr = pd.DataFrame(model_log_reg.predict(data_inf_final))
y_pred_inf_lr

   0
0  0
1  0
2  1

In [201]:
# Predict using SVM

y_pred_inf_svc = pd.DataFrame(model_svc.predict(data_inf_final))
y_pred_inf_svc

   0
0  0
1  1
2  1